{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="main">
  <div class="panel left-panel-admin">
    <h2>Historial de Movimientos</h2>
    <div class="history-box"></div>
  </div>
  <div class="panel right-panel-admin">
    <h2>Base de Datos</h2>
    <div class="section">
      <div class="section-title">Inventario</div>
      <button class="btn">Ver todo</button>
    </div>
    <div class="section">
      <div class="section-title">Empleados</div>
      <button class="btn">Ver todo</button>
    </div>
  </div>
</div>

{% endblock %}